# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
.next
out
build

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode
.idea
*.swp
*.swo

# Database
server/dev.db
server/dev.db-journal
*.sqlite

# OS
.DS_Store
Thumbs.db
